<div class="center-content">
    <h1 class="titulo">Inserta un producto</h1>
    <form method="post">
        <label for="nombre">Nombre:</label>
        <br>
        <input type="text" id="nombre" name="nombre" required class="input"><br>
        <label for="descripcion">Descripción:</label>
        <br>
        <input type="text" id="descripcion" name="descripcion" required class="input"><br>

        <label for="precio">Precio:</label>
        <br>
        <input type="number" id="precio" name="precio" required class="input"><br>
        
        <label for="existencias">Existencias:</label>
        <br>
        <input type="number" id="existencias" name="existencias" required class="input"><br><br>

        <input type="submit" value="Aceptar" class="button">
        <a href="/" class="button" >Cancelar</a>
    </form>
</div>